.forget-main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.forget-container{
    padding: 20px;
    width: fit-content;
    border: 1px solid rgba(255, 255, 255, 0.457);
    border-radius: 10px;
    background-color: rgb(57, 54, 54);    
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


.forget-container input{
    padding: 10px 15px;
    border: 1px solid black;
    background-color: rgb(52, 46, 46);
    border-radius: 7px;
    color: aliceblue;
}

.forget-container button{
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: aquamarine;
    cursor: pointer;
}